<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Strengths Name Tents</title>
  </head>
  <body>
    <h1>Strengths Name Tent Generator</h1>
    <div class="col-md-10">
      <form action="/generate" method="post">
        <div class="form-group">
          <label for="nameInput">Name</label>
          <input type="text" class="form-control" id="nameInput" name="nameInput" placeholder="Firstname Lastname"/>
        </div>
        <div class="form-group">
          <label for="titleInput">Title</label>
          <input type="text" class="form-control" id="titleInput" name="titleInput" placeholder="Job Title"/>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <label for="imageInput">Image (Top 5 only)</label>
            <select id="imageInput" name="imageInput" class="form-control">
              <option selected></option>
              {%- for image in image_options.keys() %}
              <option>{{ image }}</option>
              {%- endfor %}
            </select>
          </div>
          <div class="form-group col">
            <label for="useLogoInput">Insert Rackspace Logo?</label>
            <select id="useLogoInput" name="useLogoInput" class="form-control">
              <option selected>Yes</option>
              <option>No</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          {%- for strength_idx in range(1, input_count+1) %}
          <div class="form-group col">
            <label for="inputStrength{{ strength_idx }}">Talent {{ strength_idx }}</label>
            <select id="inputStrength{{ strength_idx }}" name="inputStrength{{ strength_idx }}" class="form-control">
              <option selected></option>
              {%- for theme in strengthsfinder %}
              <option>{{ theme }}</option>
              {%- endfor %}
            </select>
          </div>
          {%- endfor %}
        </div>
        <div class="form-group d-none">
          <input class="form-control" id="input-strengths" name="input-strengths" type="text" placeholder="strengths"/>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
