[Unit]
Description=strengths gunicorn daemon
Requires=strengths.socket
After=network.target

[Service]
PIDFile=/run/strengths/pid
User={{ runtime_user }}
Group={{ runtime_user }}
WorkingDirectory={{ install_directory }}
ExecStart=/usr/local/bin/gunicorn --workers 2 --pid /run/strengths/pid server:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
